.App{
min-height: 100vh;
/* background-image: linear-gradient(to right, #434343 0%, black 100%); */
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
  font-size: 1.0rem;
}



a{
  color: black;
  margin-bottom: 10px;
}

.search-button{
  background: white;
  border:none;
  padding: 10px 20px;
  margin-left: 5px;
  color: lightcoral;
  font-size: 0.9em;
}

.search-button:hover{
  background: lightcoral;
  color: white;
}

.recipes{
  display: flex;;
  justify-content: space-around;;
  flex-wrap: wrap;
  color: lightcoral;
}

@media only screen and (max-width: 600px){
  .search-bar{
    width: 55%;
    border:none;
    padding: 10px;
    font-size: 0.8em;
  }

  .recipes{
    display:inline;
    justify-content: space-around;
    flex-wrap:wrap;
    color: lightcoral;
  }
}

@media only screen and (min-width: 600px) {
  .recipes{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    color: lightcoral;
  }

}


/*OLD CSS Classes..
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
